<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dataMAP - Accueil</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='LOGOTYPE_MAP.ico') }}">
        <style>
            h1 { color: green; }
            .error { color: red; }
        </style>
    </head>


    <body>
        <h1>Bienvenue sur dataMAP</h1>

        <ul>
            <li><a href="{{ url_for('make_loginform') }}">Connexion</a></li>
            <li><a href="{{ url_for('settings') }}">Paramètres</a></li>
            <li><a href="{{ url_for('menuDB') }}">Menu bases de données</a></li>
            <li><a href="{{ url_for('manageLabels') }}">Gestion des étiquettes</a></li>
        </ul>

    </body>
</html>