<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dataMAP - Menu DB</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='LOGOTYPE_MAP.ico') }}">
    </head>

    <body>
        <h1>Menu - bases de données</h1>
        <ul>
        {% for db in cache['URL des fichiers de la base de données'] %}
        <li>
            <a href="gestionDB/{{ db }}">{{ db }}</a>
        </li>
        {% endfor %}
        </ul>
    </body>

</html>